.list {
    margin-top: 10px;
    padding: 0;
    list-style: none;
    display: block;
  }
  
  .list-li {
    width: 285px;
    display: block;
    margin-top: 10px;
    position: relative;
    background: rgb(197, 240, 240);
    text-overflow: hidden;
  }